{% extends 'hospital_app/base.html' %}

{% block content %}

<div class="card shadow">
    <div class="card-header bg-success text-white">
        <h3>📅 Book Appointment</h3>
    </div>

    <div class="card-body">

        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <!-- Patient -->
            <div class="mb-3">
                <label class="form-label">Patient</label>
                <select name="patient" class="form-select" required>
                    <option value="">Select Patient</option>

                    {% for patient in patients %}
                    <option value="{{ patient.id }}">
                        {{ patient.name }}
                    </option>
                    {% endfor %}

                </select>
            </div>

            <!-- Doctor -->
            <div class="mb-3">
                <label class="form-label">Doctor</label>
                <select name="doctor_name" class="form-select" required>
                    <option value="">Select a Doctor</option>

                    {% for doctor in doctors %}
                    <option value="{{ doctor.name }}">
                        {{ doctor.name }} - {{ doctor.specialization }}
                    </option>
                    {% endfor %}

                </select>
            </div>

            <!-- Appointment Date -->
            <div class="mb-3">
                <label class="form-label">Appointment Date</label>
                <input type="date" name="date" class="form-control" required>
            </div>

            <!-- Appointment Time -->
            <div class="mb-3">
                <label class="form-label">Appointment Time</label>
                <input type="time" name="time" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success">
                Book Appointment
            </button>

            <a href="/" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>
</div>

{% endblock %}

